<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spotify Stopper</title>

    <style>

        html, body {
            overflow: hidden;
            background-color: #191414;
        }

        .center {
            display: grid;
            place-items: center;
            text-align: center;
            height: 100vh;
            width: 100vw;
        }

        button {
            background-color:  	#1DB954;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
        }
    </style>
    
</head>
<body>
<div class="center">
    <button>Stop</button>
</div>

</body>
</html>